<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327948794767-4np66irdk7g5rknlu0f4d9sr9hb22jj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327948794767-4np66irdk7g5rknlu0f4d9sr9hb22jj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDXiHr3UgSr0_CS36mlu_lBwit9Z2yzSIc</string>
	<key>GCM_SENDER_ID</key>
	<string>327948794767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.JakeSafo.Sinkr</string>
	<key>PROJECT_ID</key>
	<string>sinkr-1dbdd</string>
	<key>STORAGE_BUCKET</key>
	<string>sinkr-1dbdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:327948794767:ios:db1b322b6def7dc9</string>
	<key>DATABASE_URL</key>
	<string>https://sinkr-1dbdd.firebaseio.com</string>
</dict>
</plist>